*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > h2:nth-of-type(1){
    margin-top: 150px;
}   
header{
    background-color: #e6e6e6;
    text-align: center;
}
img{
    height: 180px;
    margin: 20px;
}
h1{
    background-color: #c4c4c4;
    color: #005677;
    padding: 5px;
    letter-spacing: 5px;
}
h2{
    background-color: #c4c4c4;
    color: #005677;
    padding: 5px;
    letter-spacing: 5px;
    display: flex;
}
span{
    font-weight: bold;
}
ul{
    list-style: none;
}
li{  
    padding: 5px 0;
}
.personales-lista{
    font-style: italic;
    list-style: inside;
}
.contenedor-datos{
    margin: 20px;
    display: flex;
}
.contenedor-datos div{
    margin-right: 10px;
}
footer{
    color: white;
    background-color: #005677;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}
footer ul li{
    display: inline;
    padding: 20px;
    font-size: 25px;
}



